#logo {
	font-family: "Lucida Sans Typewriter Oblique", sans-serif;
	text-align: center;
	color: white;
}
#tagline {
	font-family: "Lucida Sans Typewriter Oblique", sans-serif;
	text-align: center;
	color: white;
}

#loading-cat {
	width: 100px;
}
