.content-panel {
	width: 33%;
	height: 860px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	float: left;
	margin: 1px;
	padding: 15px;
}

.challenge-li {
	width: 45%; 
	padding: 10px; 
	margin: 5px; 
	height: 150px;
	color: black;
	text-align: center;
	border-radius: 5px;
	float: left;
	font-family: Helvetica;
	text-align: center; 
}

.incomplete {
background-color: rgb(161, 210, 255);
}

.complete {
background-color: rgb(186, 233, 155);
}

.passed {
	background-color: grey;
}

.pvaltotal {
	display: none;
} 

h3, h4 {
	font-family: "Helvetica", sans-serif;
	font-style: "oblique";
} 
#your-name {
	float: left; 
	margin-right: 150px; 
	margin-bottom: 10px; 
}
#prof-photo {
	float: left; 
	margin: 15px; 
}
#points {
	padding-bottom: 30px;
}

a.fb_button.fb_button_medium.btn.btn-default.navbar-btn {
float: right;
}

.navbar-brand {
	font-family: "Lucida Sans Typewriter", sans-serif;
	font-size: 28px;
}