$def with (template)
<html>
<head>
  <title>Save the Net--Your Dashboard $template</title>
  <script type="text/javascript" src="/static/bootstrap/js/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/profile.css">
</head>
<body>
  <div id="fb-root"></div>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      //testAPI();
      //location.href = "profile.html"
      //location.href = "bye";
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      //location.href = "/logout.html";
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      //location.href = "index.html";
      //location.href = "/logout.html";
    }
  }


  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '692734320815026',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    updateHuman(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=692319020856556&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }

  function updateHuman(response) {
    if (response.status === 'connected') {
      FB.api('/me', function(response) {
      console.log(response);
      document.getElementById('your-name').innerHTML = response.first_name + ' ' + response.last_name;
      document.getElementById('prof-photo').src = "https://graph.facebook.com/" + response.id + "/picture";
    });
    FB.api(
    "/me/picture",
    {
        "redirect": true,
        "height": "200",
        "type": "normal",
        "width": "200"
    },
    function (response) {
      if (response && !response.error) {
        /* handle the result */
        console.log(response);
        //document.getElementById('prof-photo').src = "https://graph.facebook.com/USER_ID/picture";
      }
    }
);
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      //location.href = "/logout.html"
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      //location.href = "/logout.html";
    }

  }

  function logoutFB() {
    FB.getLoginStatus(function(response) {
    FB.logout(function(response) {
        // Person is now logged out
        console.log("YAY");
        location.href = "/logout.html"
    });
  });
      }

    </script>

    <script type="text/javascript">
        window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
    </script>
<div id="container">

  <!-- NAVBAR -->
  <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navnav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Save the Net</a>
        </div>
        <div class="collapse navbar-collapse" id="navnav">
          <span id="fbLogout" onclick="logoutFB()"><a class="fb_button fb_button_medium btn btn-default navbar-btn"><span class="fb_button_text">Logout</span></a></span>
        </div>
      </div>
    </nav>

    <!-- END NAVBAR -->

    <!-- ALERT -->
    <div class="alert alert-danger fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4>Don't Miss Your Chance to Take Action</h4>
      <p>The FCC closes comments on the proposed rules on Monday, September 15th!</p>
      <button type="button" class="btn btn-danger" id="send-comment" onclick='location.href="http://act.freepress.net/sign/internet_fcc_nprm_oliver?source=takeaction"'>Send a Comment Now!</button>
      </p>
    </div>
    <!-- END ALERT -->

  <div id="left-panel" class="content-panel">
    <img id="prof-photo" src="">
    <h3 id="your-name"></h3>
    <h4 id="points">Points: </h4>
    <div id="badges"></div>

    <button id="invite-friends" class="btn btn-info">Invite Friends</button>

  </div>
  <div id="center-panel" class="content-panel">
    <h3>Take Action</h3>
    $for p in post['all_challenges']:
      <div class="challenge-li $p['status']" data-toggle="modal" data-target="#$p['name']">$p['description']</div>
  </div>
  <div id="right-panel" class="content-panel">
    <h3>Learn More</h3>
    <ul class="list-group">
      <li class="list-group-item">What is Net Neutrality?</li>
      <li class="list-group-item">How Can I Help?</li>
      <li class="list-group-item">Send a Comment to the FCC</li>
      <li class="list-group-item">Contact Your State Representative</li>
    </ul>
    <a class="twitter-timeline" href="https://twitter.com/search?q=%23NetNeutrality%2C+%23SaveTheInternet%2C+%23fcc" data-widget-id="510833203578286081">Tweets about "#NetNeutrality, #SaveTheInternet, #fcc"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#challenge1">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="challenge1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Raise Awareness</h4>
      </div>
      <div class="modal-body">
        <p>Help save the Internet: Share this site to Facebook to help others gain knowledge about actions they can take to preserve Net Neutrality.</p>
        <div class="fb-share-button" data-href="https://savethenet.herokuapp.com"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Complete</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#challenge2">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="challenge2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Educate Yourself</h4>
      </div>
      <div class="modal-body">
        <p>freepress has summarized it better than we ever could. Educate yourself about the latest developments in the battle over Net Neutrality!</p>
        <button class="btn btn-primary" onclick='window.open("http://www.savetheinternet.com/net-neutrality-what-you-need-know-now");'>Learn More</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Complete</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#challenge3">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="challenge3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Tweet Out</h4>
      </div>
      <div class="modal-body">
        <p>#NetNeutrality is a guiding principle of the Internet- help spread the message to your Twitter followers by Tweeting Out!</p>
        <a class="twitter-share-button" href="https://twitter.com/share"
          url="http://savethenet.herokuapp.com"
          data-size="large"
          data-count="none">
        Tweet
        </a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Complete</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#challenge4">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="challenge4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Write to the FCC</h4>
      </div>
      <div class="modal-body">
        <p>Want to share your thoughts? Take a moment to send a note to the FCC about your thoughts on Net Neutrality.</p>
        <button class="btn btn-primary"><a href="mailto:openinternet@fcc.gov">Send an Email</a></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Complete</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
